# <div align="center" style="color:#f0c020;">Why Use Python in Data Science?</div>

<div style="text-align: center;">
  <img src="python.png" alt="Example Image" style="width: 300px; height: auto;">
</div>

Python is widely used in data science for several key reasons:

1. **Ease of Use and Readability**  
   Python’s simple and intuitive syntax makes it easy for data scientists to quickly learn and apply it to data-related tasks. This clarity helps reduce errors and facilitates collaboration among team members.

2. **Vast Libraries and Frameworks**  
   Python offers a rich ecosystem of libraries and tools tailored for data science. For example:
   - **NumPy** and **Pandas** simplify data manipulation and analysis.
   - **Matplotlib** and **Seaborn** are excellent for data visualization.
   - **Scikit-learn** provides tools for machine learning.
   - **TensorFlow** and **PyTorch** facilitate deep learning tasks.

3. **Community Support**  
   Python has a large and active community, which means an abundance of resources such as tutorials, forums, and open-source contributions. This community support makes it easier to find solutions to problems and learn best practices.

4. **Integration Capabilities**  
   Python integrates seamlessly with other technologies and databases. It supports data processing workflows that involve data ingestion, transformation, and storage, making it a great choice for end-to-end data science projects.

5. **Support for Automation and Data Pipelines**  
   Python’s flexibility allows it to be used not only for analysis but also for building data pipelines and automating data science workflows.

6. **Flexibility and Versatility**  
   Python is versatile and can handle a variety of tasks such as data cleaning, statistical analysis, web scraping, automation, and even production-level deployment of machine learning models.

7. **Open Source**  
   As an open-source language, Python is free to use and modify, which makes it an accessible option for individuals and businesses without licensing costs.

These characteristics make Python a preferred language for data scientists and a popular tool for solving complex data problems.

___

# <div align="center" style="color:#f0c020;">Compiler vs Interpreter</div>

| Feature                 | Compiler                                    | Interpreter                                |
|-------------------------|--------------------------------------------|-------------------------------------------|
| **Translation Process** | Translates the entire source code into machine code before execution. | Translates and executes code line-by-line or statement-by-statement. |
| **Execution Speed**     | Faster execution, as code is translated once and then executed. | Slower execution, as translation occurs during runtime. |
| **Error Detection**     | Errors are detected and reported for the entire source code before execution. | Errors are detected and reported line-by-line during execution. |
| **Debugging**           | Requires fixing all errors before running; may be less convenient for debugging. | Easier for line-by-line debugging, as errors are found as they occur. |
| **Typical Use Cases**   | Used for languages like C, C++, and Java.   | Used for languages like Python, JavaScript, and Ruby. |
| **Output**              | Produces an independent machine code file (e.g., .exe). | Does not produce an independent machine code file; executes instructions directly. |

___

# <div align="center" style="color:#f0c020;">Numbers</div>

### Basic Arithmetic

In [10]:
# Addition
2+1

3

In [11]:
# Subtraction
2-5

-3

In [12]:
# Multiplication
2*2

4

In [13]:
# Division - This operation returns a floating-point result.
3/2

1.5

In [14]:
# Floor Division - This operation returns the largest integer less than or equal to the division result.
7//4

1

##### So what if we just want the remainder after division?

In [16]:
# Remainder (Modulo)
7%2

1

### Arithmetic continued

In [18]:
# Power operator - Raising a number to the power of another number.
2**3

8

In [19]:
# Using exponentiation for  - Raising to the power of 0.5 gives the square root.
4**0.5

2.0

In [20]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [21]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

___

# <div align="center" style="color:#f0c020;">Data Types in Python</div>

## 1. Numeric Types
- **int**: Represents integers  
  *Example*: `5`, `-100`, `42`
- **float**: Represents floating-point numbers (decimals)  
  *Example*: `3.14`, `-2.5`, `0.0`
- **complex**: Represents complex numbers  
  *Example*: `1 + 2j` (where `j` is the imaginary part)

## 2. Sequence Types
- **str** (String): Represents a sequence of characters  
  *Example*: `'Hello'`, `"Python"`
- **list**: Ordered, mutable collection of items  
  *Example*: `[1, 2, 3]`, `['apple', 'banana']`
- **tuple**: Ordered, immutable collection of items  
  *Example*: `(1, 2, 3)`, `('a', 'b')`

## 3. Mapping Type
- **dict** (Dictionary): Represents a collection of key-value pairs  
  *Example*: `{'name': 'John', 'age': 25}`

## 4. Set Types
- **set**: Unordered collection of unique elements  
  *Example*: `{1, 2, 3}`, `{'a', 'b', 'c'}`
- **frozenset**: Immutable version of a set

## 5. Boolean Type
- **bool**: Boolean values, either `True` or `False`

## 6. None Type
- **None**: Represents the absence of a value or a null value

## 7. Binary Types
- **bytes**: Immutable sequence of bytes  
  *Example*: `b'hello'`
- **bytearray**: Mutable sequence of bytes  
  *Example*: `bytearray(b'hello')`
- **memoryview**: Provides a memory view object of byte data

## Summary Table

| Data Type         | Description                                        | Example                        |
|-------------------|----------------------------------------------------|--------------------------------|
| **int**           | Integer numbers                                    | `5`, `-3`, `42`                |
| **float**         | Floating-point numbers (decimals)                  | `3.14`, `-2.5`                 |
| **complex**       | Complex numbers                                    | `1 + 2j`                       |
| **str**           | Strings (text)                                     | `'Hello'`, `"World"`           |
| **list**          | Ordered, mutable collection of elements            | `[1, 2, 3]`                    |
| **tuple**         | Ordered, immutable collection of elements          | `(1, 2, 3)`                    |
| **dict**          | Key-value pairs                                    | `{'name': 'Alice', 'age': 30}` |
| **set**           | Unordered collection of unique elements            | `{1, 2, 3}`                    |
| **frozenset**     | Immutable version of a set                         | `frozenset([1, 2, 3])`        |
| **bool**          | Boolean values                                     | `True`, `False`                |
| **None**          | Represents the absence of a value                  | `None`                         |
| **bytes**         | Immutable sequence of bytes                        | `b'hello'`                     |
| **bytearray**     | Mutable sequence of bytes                          | `bytearray(b'hello')`          |
| **memoryview**    | Memory view of byte data                           | `memoryview(b'hello')`         |

___

# <div align="center" style="color:#f0c020;">Comments</div>

### Single-line Comments

In [28]:
# This is a single-line comment
print("Hello, world!")  # This is an inline comment

Hello, world!

### Multi-line Comments

In [30]:
# This is a multi-line comment
# explaining something important
# in more than one line.

### docstrings

In [32]:
"""
This is a multi-line string, often used for
multi-line comments in code.
"""

print("This is still valid code.")

This is still valid code.

In [33]:
'''
This is a multi-line string, often used for
multi-line comments in code.
'''

print("This is still valid code.")

This is still valid code.

##### Note: Triple quotes are more commonly used for docstrings (documentation strings) for functions, classes, or modules rather than general-purpose comments.

___

# <div align="center" style="color:#f0c020;">Escape Sequences</div>

### Single Quote Escape

In [38]:
# Using \' to escape a single quote in a string
print('It\'s a sunny day.')

It's a sunny day.

### Double Quote Escape

In [40]:
# Using \" to escape double quotes in a string
print("She said, \"Hello there!\"")

She said, "Hello there!"

### Backslash Escape

In [42]:
# Using \\ to include a backslash in the string
print("This is a backslash: \\")

This is a backslash: \

### Newline Escape (\n)

In [44]:
# Using \n to insert a newline
print("Hello\nWorld")

Hello
World

### Tab Escape (\t)

In [46]:
# Using \t to insert a tab
print("Name\tAge")
print("Alice\t30")

Name	Age
Alice	30

### Backspace Escape (\b)

In [48]:
# Using \b for a backspace
print("Hello\b World")

Hell World

### Carriage Return (\r)

In [50]:
# Using \r (carriage return)
print("12345\rABCDE")

ABCDE

### Octal and Hexadecimal Escapes

In [52]:
# Using \ooo (octal) and \xhh (hexadecimal)
print("\101")  # Octal for 'A'
print("\x41")  # Hexadecimal for 'A'

A
A

___

# <div align="center" style="color:#f0c020;">Strings</div>

### Creating a String
##### To create a string in Python you need to use either single quotes or double quotes. For example:

In [56]:
# Single word
'h'

'h'

In [57]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [58]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [59]:
# Be careful with quotes!
# ' I'm using single quotes, but this will create an error'

In [60]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

### Printing a String

In [62]:
# We can simply declare a string
'Hello World'

'Hello World'

In [63]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'
'ahmed'

'ahmed'

In [64]:
print('Hello World 1')
print('Hello World 2')
print('Use \t  to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use 	  to print a new line


See what I mean?

### String Basics
##### We can also use a function called len() to check the length of a string!

In [66]:
len('Hello World ')

12

### String Indexing

In [68]:
# Assign s as a string
s = 'Hello World'

In [69]:
s[0]

'H'

In [70]:
s[5]

' '

In [71]:
s[-1]

'd'

##### We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [73]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [74]:
# Note that there is no change to the original s
s

'Hello World'

In [75]:
# Grab everything UP TO the 3rd index
s[:4]

'Hell'

In [76]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [77]:
s

'Hello World'

In [78]:
s=[1,2,3,4,5,6,7,8,9,10]
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
s[::3]

[1, 4, 7, 10]

In [80]:
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

___

___

# <div align="center" style="color:#f0c020;">String Methods</div>

### str.upper()

In [85]:
text = "hello"
print(text.upper())

HELLO

### str.lower()

In [87]:
text = "HELLO"
print(text.lower())

hello

### str.capitalize()

In [89]:
text = "hello"
print(text.capitalize())

Hello

### str.title()

In [91]:
text = "hello world"
print(text.title())

Hello World

### str.strip()

In [93]:
text = "  hello  "
print(text.strip())

hello

### str.lstrip() and str.rstrip()

In [95]:
text = "  hello  "
print(text.lstrip()) 
print(text.rstrip())

hello
  hello

### str.replace(old, new)

In [97]:
text = "hello world"
print(text.replace("world", "Python"))

hello Python

### str.split()

In [99]:
text = "hello world Python"
print(text.split())

['hello', 'world', 'Python']

### str.join(iterable)

In [101]:
words = ['hello', 'world', 'Python']
print(" ".join(words))

hello world Python

### str.find(substring)

In [103]:
text = "hello world"
print(text.find("world"))  
print(text.find("Python"))

6
-1

### str.startswith(prefix)

In [105]:
text = "hello world"
print(text.startswith("hello"))

True

### str.endswith(suffix)

In [107]:
text = "hello world"
print(text.endswith("world"))

True

### str.isdigit()

In [109]:
text = "12345"
print(text.isdigit()) 

text = "123a5"
print(text.isdigit())

True
False

### str.isalpha()

In [111]:
text = "hello"
print(text.isalpha()) 

text = "hello123"
print(text.isalpha())

True
False

### str.isnumeric()

In [113]:
text = "12345"
print(text.isnumeric())

True

### str.swapcase()

In [115]:
text = "Hello World"
print(text.swapcase())

hELLO wORLD

### str.count(substring)

In [117]:
text = "hello world, hello Python"
print(text.count("hello"))

2

### str.format()

In [119]:
name = "Alice"
age = 25
text = "My name is {} and I am {} years old.".format(name, age)
print(text)

My name is Alice and I am 25 years old.

### str.islower() and str.isupper()

In [121]:
text = "hello"
print(text.islower())
print(text.isupper())

True
False

___

# <div align="center" style="color:#f0c020;">string formatting</div>

### Using f-strings

In [125]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.

In [126]:
x = 5
y = 10
print(f"The sum of {x} and {y} is {x + y}.")

The sum of 5 and 10 is 15.

### Using str.format()

In [128]:
name = "Bob"
age = 30
print("My name is {} and I am {} years old.".format(name, age))

My name is Bob and I am 30 years old.

In [129]:
print("I am {1} years old and my name is {0}".format(name, age))

I am 30 years old and my name is Bob

In [130]:
print("My name is {name} and I am {age} years old.".format(name="Charlie", age=40))

My name is Charlie and I am 40 years old.

### Using % Operator [old formatting]

In [132]:
name = "Alice"
age = 25
print("My name is %s and I am %d years old." % (name, age))

My name is Alice and I am 25 years old.

In [133]:
pi = 3.14159 
print("The value of pi is %.2f" % pi)

The value of pi is 3.14

### Example of All Methods:

In [135]:
name = "John"
age = 28

# Using f-string
print(f"My name is {name} and I am {age} years old.") 

# Using str.format()
print("My name is {} and I am {} years old.".format(name, age))

# Using % operator
print("My name is %s and I am %d years old." % (name, age))

My name is John and I am 28 years old.
My name is John and I am 28 years old.
My name is John and I am 28 years old.

#### Placeholder Types
##### %s --> String  
##### %d --> Number
##### %f --> Float

___

# <div align="center" style="color:#f0c020;">Input</div>

In [139]:
# user_input = input("Enter something: ")
# print("You entered:", user_input)

In [140]:
# name = input("Enter your name: ")
# print("Hello, " + name + "!")

In [141]:
# age = int(input("Enter your age: "))
# print("You are", age, "years old.")

In [142]:
# num1 = float(input("Enter the first number: "))
# num2 = float(input("Enter the second number: "))
# result = num1 + num2
# print("The sum is:", result)

All data returned by input() is of type string by default.

___

# <div align="center" style="color:#f0c020;">Built-in Functions in Python</div>

Python provides many built-in functions that make programming easier by performing common tasks. Here are some of the most commonly used built-in functions:

## 1. Type Conversion Functions
- **`int()`**: Converts a value to an integer.
- **`float()`**: Converts a value to a floating-point number.
- **`str()`**: Converts a value to a string.
- **`bool()`**: Converts a value to a boolean.

## 2. Data Type and Structure Functions
- **`len()`**: Returns the number of items in an object (e.g., length of a string, list).
- **`type()`**: Returns the type of an object.
- **`list()`**: Creates a list.
- **`dict()`**: Creates a dictionary.
- **`set()`**: Creates a set.
- **`tuple()`**: Creates a tuple.

## 3. Numeric Functions
- **`abs()`**: Returns the absolute value of a number.
- **`round()`**: Rounds a number to the nearest integer or to a specified number of decimal places.
- **`max()`**: Returns the maximum value from a list or iterable.
- **`min()`**: Returns the minimum value from a list or iterable.
- **`sum()`**: Returns the sum of all items in an iterable (e.g., list).
- **`pow()`**: Raises a number to a power (`pow(x, y)` is equivalent to `x**y`).

## 4. String Functions
- **`str.upper()`**: Converts a string to uppercase.
- **`str.lower()`**: Converts a string to lowercase.
- **`str.split()`**: Splits a string into a list based on a specified separator.
- **`str.join()`**: Joins elements of a list into a single string with a specified separator.

## 5. Input and Output Functions
- **`print()`**: Outputs data to the standard output (e.g., console).
- **`input()`**: Reads input from the user as a string.

## 6. File Handling Functions
- **`open()`**: Opens a file and returns a file object.
  - Example modes: `'r'` (read), `'w'` (write), `'a'` (append), `'rb'` (read binary).

## 7. Iteration and Filtering Functions
- **`range()`**: Generates a sequence of numbers, often used in loops.
- **`map()`**: Applies a function to all items in an input list (or iterable).
- **`filter()`**: Filters elements of an iterable based on a function that returns `True` or `False`.
- **`zip()`**: Combines two or more iterables (e.g., lists) into tuples.

## 8. Miscellaneous Functions
- **`len()`**: Returns the length of an object.
- **`id()`**: Returns the identity (unique ID) of an object.
- **`help()`**: Provides documentation or help for a function/module.
- **`dir()`**: Returns a list of the attributes and methods of an object.
- **`sorted()`**: Returns a sorted list from the items of any iterable.
- **`reversed()`**: Returns a reversed iterator.
- **`eval()`**: Evaluates a string as a Python expression and executes it.
- **`exec()`**: Executes a dynamically created Python program (string).
- **`enumerate()`**: Adds a counter to an iterable and returns it as an enumerate object.

___

# <div align="center" style="color:#f0c020;">Lists</div>

In [149]:
my_list = [1.0,2.0,3.0]

In [150]:
type(my_list)

list

In [151]:
my_list*2

[1.0, 2.0, 3.0, 1.0, 2.0, 3.0]

In [152]:
my_list = ['A string',23,100.232,'o']

In [153]:
len(my_list)

4

In [154]:
my_list+['ahmed']
my_list

['A string', 23, 100.232, 'o']

In [155]:
my_list=my_list+['ahmed']
my_list

['A string', 23, 100.232, 'o', 'ahmed']

In [156]:
my_list.append(15)
my_list

['A string', 23, 100.232, 'o', 'ahmed', 15]

In [157]:
my_list.insert(0,'14')
my_list

['14', 'A string', 23, 100.232, 'o', 'ahmed', 15]

In [158]:
my_list.remove('A string')
my_list

['14', 23, 100.232, 'o', 'ahmed', 15]

In [159]:
my_list

['14', 23, 100.232, 'o', 'ahmed', 15]

### Indexing and Slicing

In [161]:
my_list = ['one','two','three',4,5]

In [162]:
# Grab element at index 0
my_list[0]

'one'

In [163]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [164]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [165]:
# Make the list double
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [166]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5]

### Nesting Lists

In [168]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix (not mathematical matrix)
matrix = [lst_1,lst_2,lst_3]

In [169]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [170]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [171]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

___

# <div align="center" style="color:#f0c020;">Tuples</div>

### Constructing Tuples

In [175]:
# Create a tuple
t = (1,2,3)
t

(1, 2, 3)

In [176]:
# Check len just like a list
len(t)

3

In [177]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [178]:
# Use indexing just like we did in lists
t[0]

'one'

In [179]:
# Slicing just like a list
t[-1]

2

## Immutability

##### It can't be stressed enough that tuples are immutable.

In [181]:
# t[0]= 'ahmed'

In [182]:
# t.append('nope')

In [183]:
x=list(t)
x

['one', 2]

In [184]:
x.append('ahmed')
x

['one', 2, 'ahmed']

In [185]:
t=tuple(x)

In [186]:
t

('one', 2, 'ahmed')

___

# <div align="center" style="color:#f0c020;">List vs Tuple vs Dictionary</div>

In Python, lists, tuples, and dictionaries differ in mutability, performance, and syntax. Here's a comparison:

| Feature           | List                                      | Tuple                                  | Dictionary                            |
|-------------------|-------------------------------------------|----------------------------------------|---------------------------------------|
| **Mutability**     | Mutable (can be changed)                 | Immutable (cannot be changed)          | Mutable (can change values, add/remove items) |
| **Syntax**         | `[]` (square brackets)                   | `()` (parentheses)                     | `{}` (curly braces)                   |
| **Performance**    | Slower (due to mutability)               | Faster (due to immutability)           | Slower (due to hashing and key lookup) |
| **Methods**        | Many methods (`append()`, `remove()`, etc.) | Fewer methods (`count()`, `index()`)  | Many methods (`get()`, `items()`, `keys()`, `values()`) |
| **Memory**         | More memory-intensive                    | Memory-efficient                       | Memory-intensive due to key-value storage |
| **Use cases**      | Dynamic data, modifiable collections     | Constant, fixed collections            | Key-value pair mapping, fast lookups by keys |
| **Hashability**    | Not hashable                             | Hashable (can be used as dict keys)    | Keys are hashable (values can be any data type) |
| **Iteration**      | Can iterate over items                   | Can iterate over items                 | Can iterate over keys, values, or items (key-value pairs) |

___